<%= render "shared/links"%>
<div class="d-flex flex-column justify-content-center align-items-center pt-5">
  <h2 class="page-title"><%= current_user.name %> Appointments</h2>
  <% if @appointments.present? %>
    <% if current_user.patient? %>
      <%= render "patients_appointments", appointments: @appointments%>
    <% else %>
      <%= render "doctors_appointments", appointments: @appointments%>
    <% end %>
  <% else %>
    <h5>You don't have any appointments yet</h5>
  <% end %>
</div>
