<%= render "shared/links"%>
<div class="d-flex flex-column justify-content-center align-items-center">
 <h2 class="page-title">Category: <%= @category.name %></h2>
 
  <table class="table table-striped text-center mb-3 w-50">
    <thead>
      <tr>
        <th scope="col">Doctors name</th>
        <th scope="col">Avaliable Appountments</th>
      </tr>
    </thead>
    <tbody>
      <% @category.doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.name %></td>
          <% if doctor.appointments.opened.count < 10 %>
            <td> <%= link_to "Create an Appointment", new_patient_appointment_path(current_user, doctor_id: doctor, category_id: @category), class: "btn btn-sm btn-primary rounded-pill" %></td>
          <% else %>
            <td><span>no free entries</span></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>